*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #001e4d;
  padding: 20px;
}
.app{
  background: #fff;
  width: 100%;
  max-width: 600px;
  margin: 100px auto 0px;
  border-radius: 10px;
  padding: 30px;
}
.app h1{
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  
}
.quiz{
  padding: 20px 0;
}
.quiz h2{
  font-size: 18px;
  color: #001e4d;
  font-weight: 400;
  margin-bottom: 10px;
}
.quiz .btn{
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px ;
  margin: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s;
}
.quiz .btn:disabled{
  opacity: 0.6;
  cursor: no-drop;
}
.quiz .btn:hover:not(:disabled){
  background-color: #222;
  color: #fff;
}
.next-btn{
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0px;
  padding: 10px;
  margin: 20px auto 0px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  display: none;
}
.btn.correct{
  background-color: #9aeabc;
  opacity: 1 !important;
}
.btn.incorrect{
  background: #ff9393;
}